
    
      .font {
        color: blueviolet;
        text-align: center;
        font-weight: bold;
      }
      ol,
      
      .peragraph,
      .header {
        color: yellowgreen;
        background-color: rgb(235, 192, 135);
      }

      article {
        background-color: lightblue;
        border: 1px solid black;
        text-align: right;
        margin: 40px;
        padding: 5px;
      }
      span{
        color: rgb(146, 92, 21);

      }
      span{border-bottom: 3px solid red;}
      #header{
        background-color: rgb(158, 201, 238);
        background-image: url('picture1.jpg');
        height: 700px;
        text-align: center;
        color: beige;
        padding: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: none;
      }
      #menu-header{
        background-color: aquamarine;
        background-image: url(images.jpg);
        height: 100vh;
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border: none;
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: centers;
    color: beige;

      }
      body{
        margin: 0px;
        padding: 0px;
      }
      nav ul {
        display: flex;
        list-style: none;
        text-decoration: none;
        margin-right: 10px;

      }
      nav ul li{
        padding: 4px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
      }

        nav ul li a{
          text-align: center;
          color: black;
          padding: 18px;
          text-decoration: aqua;


        }
      .design{background-color: rgb(99, 99, 141);
        gap:20px;
        display: flex;
        nav-up: auto;

      }
      
        .design{
          text-align: center;
          text-decoration: wavy;

        }

      
      
    nav ul li:hover{
      background-color: lightgray;

    }

    .banner{
     display: flex;
      padding: 20px;
      background-color: rgb(175, 175, 89);
      text-align: center;
      width: 100%;
      border-radius: 13px;
      text-align: center;
      border-right: 5px;

    }
   .banner button{
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
   }
   .banner button:hover{
    background-color: blue;
   }
    
    .button{
      text-align: center;
    }
    footer{
      text-align: center;
      background-image: url(image.jpg);
      
      
    }
    .footer{
      color: white;
      text-align: center;
      align-items: center;
    }